html{
  font-size:62.5%;
}
section{
  display:flex;
}

#header{
  width:100%;
  height:10%;
  text-align:center;
  padding:5% 0 0 0;
}

h1{
  width:20%;
  height:auto;
  margin:0 auto;
  text-align:center;
  font-size: 3rem;
}
#container{
  display:flex;
  flex-direction:row;
  padding:5% 0 0 0;
}
#userInput, #display{
   display:flex;
  width:50%;
  height:auto;
  text-align:center;
  flex-direction:column;
  flex-wrap:no-wrap;
  padding:10%;
}
#wrapper{
  padding:5%;
}
#userInput{
  background-color:green;
}
#display{
  background-color:red;
}
#btn-submit{
  text-align:center;
  justify-content:center;
  align-items:center;
  align-self:center;
}
label{
  padding:3%;
  font-size:2rem;
}
h2{
 text-align:center;
  font-size:2rem;
}
#placeToSee{
  padding:5%;
  width:40%;
  height:auto;
  background-color:white;
  color:black;
  text-align:center;
  font-size:2rem;
   justify-content:center;
  align-items:center;
  align-self:center;

}
#day{
  text-align:center;
  marin:0 auto;
}
@media (max-width: 800px) {
  #container {
    flex-direction: column;

  }
  #display{
    width:100%;
  }
  #userInput{
    width:100%;
  }
}
