body{
    box-sizing:border-box;
    background-color:	 	#99d2e6;
    padding:15px;
  }
li{
  display: inline-block;
  list-style:none;
}

.social {
  color:white;
  text-align:center;

}

img{
  float: right;
  margin: 0px 0px 25px 25px;
  width: 300px;
  height:300px;

}


.info{
  text-align:center;
}
h1{
  color:white;
  text-align: center;
}
.solid{
  margin:40px;
  padding:50px;
  color: white;
  border: 3px solid #00e600;;
}

a{
  color: #05c705;
}

h1{
  text-align:center;
}

.us a{
  color: white;
}
